@keyframes wiggle {
  0% {
    transform: translate(0);
  }
  80% {
    transform: translate(0);
  }
  85% {
    transform: translate(10px, 0);
  }
  95% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0);
  }
}

.all {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
}

.test1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px);
}

.test2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 150px;
  border-radius: 15px;
  background-color: rgb(187, 175, 175);
}

.test22 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

input,
textarea,
select {
  border: 1px solid black;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  width: 500px;
}

#Summary {
  height: 300px;
}

#Id::placeholder {
  font-weight: bold;
  color: black;
}

.test3 {
  background-color: rgb(57, 221, 180);
  width: 500px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
}

.test4 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 15px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  padding: 30px;
  margin: 50px;
  border-radius: 15px;
  gap: 10px;
}

.project_img {
  display: flex;
  background-color: green;
  width: 150px;
  height: 150px;
}

#project_add {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#ticket_add {
  background-color: rgb(190, 219, 219);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  pointer-events: all;
}

.err_msg {
  color: red;
  display: inline-block;
  animation: wiggle 1s;
  animation-iteration-count: 1;
}

button[type="submit"] {
  background-color: rgb(57, 216, 118);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  width: 500px;
}

.main {
  background-color: red;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.grid {
  display: flex;
  background-color: blue;
  margin: 50px;
  padding: 50px;
  min-height: 500px;
}

.tickets {
  margin: 0;
  padding: 0;
  right: 0;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_kanban {
  padding: 100px 50px;
  margin: 0 50px;
  max-height: 60%;
  background-color: rgb(232, 243, 243);
}

#kanban {
  height: 100% !important;
  overflow: scroll !important;
}

#kanban .e-kanban-content div .e-kanban-table * * {
  overflow-y: scroll !important;
}

.addticket {
  padding: 10px 50px;
  background-color: rgb(63, 211, 154);
  border-radius: 5px;
  margin: 20px 10px;
}

.container_chart {
  display: flex;
  flex-direction: row;
  /* grid-template-columns: repeat(auto-fill, 400px); */
  /* grid-gap: 2rem; */
  padding: 100px 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container_pie {
  /* width: fit-content; */
  width: 33%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgb(232, 243, 243);
  border-radius: 15px;
}

.container_pie p {
  margin: 50px 0 0 50px;
  font-weight: 900;
  font-size: 35px;
}

.e-kanban {
  background: transparent !important;
}

/************************************************/

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 10px;
}

.top,
.mid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  font-size: 30px;
}

.section {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.section h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.section p {
  padding-left: 20px;
}

.password {
  min-width: 150px;
}
